<nav [class.scrolled]="scroll.scrolled$ | async">
  <a routerLink="/" class="nav-logo">
    <span class="logo-mark">MARAFIS</span>
    <span class="logo-sub">{{ 'nav.technology-consultancy' | translate}}</span>
  </a>

  <ul class="nav-links">
    @for (link of content.navLinks; track link.label) {
      <li>
        @if (link.route) {
          <a [routerLink]="link.route">
            {{ link.label | translate }}
          </a>
        } @else {
          <a [routerLink]="['/']" [fragment]="link.fragment">
            {{ link.label | translate }}
          </a>
        }
      </li>
    }
  </ul>

  <a [routerLink]="['/']" fragment="cta" class="nav-cta">
    {{ 'nav.engage' | translate }}
  </a>

  <!-- In navbar.component.html -->
  <div class="lang-switcher">
    <button class="lang-btn" [class.active]="currentLanguage() === 'en'" (click)="switchLanguage('en')">EN</button>
    <span class="lang-sep">|</span>
    <button class="lang-btn" [class.active]="currentLanguage() === 'nl'" (click)="switchLanguage('nl')">NL</button>
    <span class="lang-sep">|</span>
    <button class="lang-btn" [class.active]="currentLanguage() === 'de'" (click)="switchLanguage('de')">DE</button>
  </div>

</nav>
